@import url('https://fonts.googleapis.com/css2?family=Vazirmatn:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  font-family: 'Vazirmatn', sans-serif !important;
}

body {
  margin: 0;
  font-family: 'Vazirmatn', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'Vazirmatn', source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}